<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.maragues.menu_planner">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.launch.LaunchActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login">
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.recipe.editor.EditRecipeActivity"
            android:label="@string/title_activity_edit_recipe_tabbed"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.recipe.list.RecipeListActivity"
            android:label="@string/title_activity_recipe_list2"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.recipe.viewer.RecipeViewerActivity"
            android:label="@string/title_activity_recipe_viewer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.suggested_meals.SuggestedMealsActivity"
            android:label="@string/title_activity_suggested_meals"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.meal.editor.MealEditorActivity"
            android:label="@string/title_activity_meal_editor"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.meal.editor.AddRecipeToMealActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.meal_instance.MealInstanceViewerActivity"
            android:label="@string/title_activity_meal_instance_viewer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>